<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
    <add name="SUPI_MASTER" providerName="System.Data.SqlClient" connectionString="server=200.29.152.86;database=MCADEM;uid=supi;pwd=NTsp#99;"/>
    <add name="SUPI" providerName="System.Data.SqlClient" connectionString="server=200.29.152.86;database=SUPI;uid=supi;pwd=NTsp#99;"/>
 </connectionStrings>


  <system.web>
    <customErrors mode="Off"/>    

		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
	
    <authentication mode="Forms">
			<forms name="frm" path="/" loginUrl="~/Login.aspx" protection="All" timeout="60" slidingExpiration="true"/>
		</authentication>
		
    <authorization>
			<deny users="?"/>
		</authorization>
    <sessionState mode="InProc" cookieless="false" timeout="60" />
  </system.web>



  <location path="~/Solicitud_Pass.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Js/Widgets/SweetAlert/lib/sweet-alert.min.js">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="Js/Widgets/SweetAlert/lib/sweet-alert.css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="Images/b.png">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
  
	<location path="Images/user.png">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
  
	<location path="Images/pass.png">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
  
	<location path="Images/logo-cadem.png">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
  
  <location path="Images/FONDO2.jpg">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="Css/Button.css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="Css/Divs.css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="Css/TextBox.css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="Css/Label.css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
</configuration>
